body{
  text-align: center;
  font-family: sans-serif;
}
h1 {
    margin: 0;
}
.content a {
  display: inline-block;
  border: 1px solid #ccc;
  text-decoration: navajowhite;
  font-size: 14px;
  color: #696868;
  padding: 5px;
  border-radius: 5px;
  width: 120px;
  margin: 10px 5px;
}
footer p {
    margin: 0;
    color: #535353;
    font-size: 12px;
}
footer p img {
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    vertical-align: bottom;
}
footer p a {
    text-decoration: none;
    color: #028bb1;
    font-size: 12px;
}
